<footer>
    <div class="contain">
        <div class="text">
            CODEAL AN UPCOMING SOCIAL MEDIA PLATFORM.... 
        </div>
        <div class="sidelinks">
            <a href="http://localhost:8000/">Home</a>
            <a href="http://localhost:8000/users/profile">Profile</a>
        </div>
    </div>
   
</footer>

